
<div class="empresa-container">
    
    <div class="empresa-content">
      <h1>Bienvenido a XYZ Company</h1>
      <p>Somos una empresa innovadora en constante crecimiento. Estamos buscando profesionales talentosos para unirse a nuestro equipo. ¡Únete a nosotros y sé parte de algo grandioso!</p>
      
      <h2>Ofertas de Empleo</h2>
      
      <div class="ofertas-container">
        <div class="oferta">
          <h3>Desarrollador Frontend</h3>
          <p>Estamos buscando un Desarrollador Frontend con experiencia en Angular. ¡Únete a nuestro equipo de desarrollo!</p>
          <button class="btn-aplicar">Aplicar</button>
        </div>
        
        <div class="oferta">
          <h3>Gerente de Proyecto</h3>
          <p>Buscamos un Gerente de Proyecto con experiencia en liderar equipos. Si tienes habilidades de liderazgo, ¡postúlate ahora!</p>
          <button class="btn-aplicar">Aplicar</button>
        </div>
        
        <!-- Agrega más ofertas de empleo aquí -->
      </div>
    </div>
  </div>
  